@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --swiper-theme-color: #000;
      --swiper-navigation-size: 44px;
      --swiper-pagination-bullet-size: 6px;
      --swiper-pagination-bullet-horizontal-gap: 6px;
    }
  }
@layer utilities {
    .animate-draw {
      stroke-dasharray: 1500;
      stroke-dashoffset: 1500;
    }
  }