@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --swiper-theme-color: #000;
      --swiper-navigation-size: 44px;
      --swiper-pagination-bullet-size: 6px;
      --swiper-pagination-bullet-horizontal-gap: 6px;
    }
  }
@layer utilities {
    .animate-draw {
      stroke-dasharray: 1500;
      stroke-dashoffset: 1500;
    }
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  .animate-fadeInUp {
    animation: fadeInUp 0.8s ease-out;
  }

  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  .animate-fadeInDown {
    animation: fadeInDown 0.2s ease-out;
  }
  .custom-bg-transition {
    transition: background-color 0.3s;
  }